<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boviet.alarm.mapper.AlarmLogMapper">
    
    <resultMap type="AlarmLog" id="AlarmLogResult">
        <result property="id"                  column="id"/>
        <result property="logType"                  column="log_type"/>
        <result property="alarmId"                  column="alarm_id"/>
        <result property="systemName"                  column="system_name"/>
        <result property="requestData"                  column="request_data"/>
        <result property="responseData"                  column="response_data"/>
        <result property="status"                  column="status"/>
        <result property="requestTime"                  column="request_time"/>
        <result property="responseTime"                  column="response_time"/>
        <result property="timeOut"                  column="time_out"/>
        <result property="createBy"                  column="create_by"/>
        <result property="createTime"                  column="create_time"/>
        <result property="updateBy"                  column="update_by"/>
        <result property="updateTime"                  column="update_time"/>
        <result property="remark"                  column="remark"/>
    </resultMap>

    <sql id="selectAlarmLogVo">
        select id, log_type, alarm_id, system_name, request_data, response_data, status, request_time, response_time, time_out, create_by, create_time, update_by, update_time, remark from alarm_log
    </sql>

    <select id="selectAlarmLogList" parameterType="AlarmLog" resultMap="AlarmLogResult">
        <include refid="selectAlarmLogVo"/>
        <where>  
            <if test="logType != null  and logType != ''"> and log_type = #{logType}</if>
            <if test="alarmId != null  and alarmId != ''"> and alarm_id = #{alarmId}</if>
            <if test="systemName != null  and systemName != ''"> and system_name like concat('%', #{systemName}, '%')</if>
            <if test="requestData != null  and requestData != ''"> and request_data = #{requestData}</if>
            <if test="responseData != null  and responseData != ''"> and response_data = #{responseData}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="requestTime != null "> and request_time = #{requestTime}</if>
            <if test="responseTime != null "> and response_time = #{responseTime}</if>
            <if test="timeOut != null "> and time_out = #{timeOut}</if>
        </where>
    </select>
    
    <select id="selectAlarmLogById" parameterType="Long" resultMap="AlarmLogResult">
        <include refid="selectAlarmLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAlarmLog" parameterType="AlarmLog" useGeneratedKeys="true" keyProperty="id">
        insert into alarm_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logType != null">log_type,</if>
            <if test="alarmId != null">alarm_id,</if>
            <if test="systemName != null">system_name,</if>
            <if test="requestData != null">request_data,</if>
            <if test="responseData != null">response_data,</if>
            <if test="status != null">status,</if>
            <if test="requestTime != null">request_time,</if>
            <if test="responseTime != null">response_time,</if>
            <if test="timeOut != null">time_out,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logType != null">#{logType},</if>
            <if test="alarmId != null">#{alarmId},</if>
            <if test="systemName != null">#{systemName},</if>
            <if test="requestData != null">#{requestData},</if>
            <if test="responseData != null">#{responseData},</if>
            <if test="status != null">#{status},</if>
            <if test="requestTime != null">#{requestTime},</if>
            <if test="responseTime != null">#{responseTime},</if>
            <if test="timeOut != null">#{timeOut},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAlarmLog" parameterType="AlarmLog">
        update alarm_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="logType != null">log_type = #{logType},</if>
            <if test="alarmId != null">alarm_id = #{alarmId},</if>
            <if test="systemName != null">system_name = #{systemName},</if>
            <if test="requestData != null">request_data = #{requestData},</if>
            <if test="responseData != null">response_data = #{responseData},</if>
            <if test="status != null">status = #{status},</if>
            <if test="requestTime != null">request_time = #{requestTime},</if>
            <if test="responseTime != null">response_time = #{responseTime},</if>
            <if test="timeOut != null">time_out = #{timeOut},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlarmLogById" parameterType="Long">
        delete from alarm_log where id = #{id}
    </delete>

    <delete id="deleteAlarmLogByIds" parameterType="String">
        delete from alarm_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>