<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boviet.alarm.mapper.AlarmMainMapper">
    
    <resultMap type="AlarmMain" id="AlarmMainResult">
        <result property="id"                  column="id"/>
        <result property="alarmId"                  column="alarm_id"/>
        <result property="systemName"                  column="system_name"/>
        <result property="module1"                  column="module1"/>
        <result property="module2"                  column="module2"/>
        <result property="module3"                  column="module3"/>
        <result property="module4"                  column="module4"/>
        <result property="status"                  column="status"/>
        <result property="rules"                  column="rules"/>
        <result property="createBy"                  column="create_by"/>
        <result property="createTime"                  column="create_time"/>
        <result property="updateBy"                  column="update_by"/>
        <result property="updateTime"                  column="update_time"/>
        <result property="remark"                  column="remark"/>
    </resultMap>

    <sql id="selectAlarmMainVo">
        SELECT
            a.id,
            a.alarm_id,
            a.system_name,
            a.module1,
            a.module2,
            a.module3,
            a.module4,
            a.status,
            a.rules,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark
        FROM
            alarm_main a
    </sql>

    <select id="selectAlarmMainList" parameterType="AlarmMain" resultMap="AlarmMainResult">
        <include refid="selectAlarmMainVo"/>
        <where>  
            <if test="alarmId != null  and alarmId != ''"> and a.alarm_id = #{alarmId}</if>
            <if test="systemName != null  and systemName != ''"> and a.system_name like concat('%', #{systemName}, '%')</if>
            <if test="module1 != null  and module1 != ''"> and a.module1 = #{module1}</if>
            <if test="module2 != null  and module2 != ''"> and a.module2 = #{module2}</if>
            <if test="module3 != null  and module3 != ''"> and a.module3 = #{module3}</if>
            <if test="module4 != null  and module4 != ''"> and a.module4 = #{module4}</if>
            <if test="status != null "> and a.status = #{status}</if>
            <if test="rules != null  and rules != ''"> and a.rules = #{rules}</if>
        </where>
    </select>
    
    <select id="selectAlarmMainById" parameterType="Long" resultMap="AlarmMainResult">
        <include refid="selectAlarmMainVo"/>
        where a.id = #{id}
    </select>

    <select id="selectAlarmMainByAlarmId" parameterType="String" resultMap="AlarmMainResult">
        <include refid="selectAlarmMainVo"/>
        where a.alarm_id = #{alarmId}
    </select>
        
    <insert id="insertAlarmMain" parameterType="AlarmMain" useGeneratedKeys="true" keyProperty="id">
        insert into alarm_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alarmId != null and alarmId != ''">alarm_id,</if>
            <if test="systemName != null">system_name,</if>
            <if test="module1 != null">module1,</if>
            <if test="module2 != null">module2,</if>
            <if test="module3 != null">module3,</if>
            <if test="module4 != null">module4,</if>
            <if test="status != null">status,</if>
            <if test="rules != null">rules,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alarmId != null and alarmId != ''">#{alarmId},</if>
            <if test="systemName != null">#{systemName},</if>
            <if test="module1 != null">#{module1},</if>
            <if test="module2 != null">#{module2},</if>
            <if test="module3 != null">#{module3},</if>
            <if test="module4 != null">#{module4},</if>
            <if test="status != null">#{status},</if>
            <if test="rules != null">#{rules},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAlarmMain" parameterType="AlarmMain">
        update alarm_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="alarmId != null and alarmId != ''">alarm_id = #{alarmId},</if>
            <if test="systemName != null">system_name = #{systemName},</if>
            <if test="module1 != null">module1 = #{module1},</if>
            <if test="module2 != null">module2 = #{module2},</if>
            <if test="module3 != null">module3 = #{module3},</if>
            <if test="module4 != null">module4 = #{module4},</if>
            <if test="status != null">status = #{status},</if>
            <if test="rules != null">rules = #{rules},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlarmMainById" parameterType="Long">
        delete from alarm_main where id = #{id}
    </delete>

    <delete id="deleteAlarmMainByIds" parameterType="String">
        delete from alarm_main where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>