<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boviet.alarm.mapper.AlarmMainGroupMapper">
    
    <resultMap type="AlarmMainGroup" id="AlarmMainGroupResult">
        <result property="id"                  column="id"/>
        <result property="alarmId"                  column="alarm_id"/>
        <result property="groupId"                  column="group_id"/>
        <result property="createBy"                  column="create_by"/>
        <result property="createTime"                  column="create_time"/>
        <result property="updateBy"                  column="update_by"/>
        <result property="updateTime"                  column="update_time"/>
        <result property="remark"                  column="remark"/>
    </resultMap>

    <sql id="selectAlarmMainGroupVo">
        select id, alarm_id, group_id, create_by, create_time, update_by, update_time, remark from alarm_main_group
    </sql>

    <select id="selectAlarmMainGroupList" parameterType="AlarmMainGroup" resultMap="AlarmMainGroupResult">
        <include refid="selectAlarmMainGroupVo"/>
        <where>  
            <if test="alarmId != null  and alarmId != ''"> and alarm_id = #{alarmId}</if>
            <if test="groupId != null  and groupId != ''"> and group_id = #{groupId}</if>
        </where>
    </select>
    
    <select id="selectAlarmMainGroupById" parameterType="Long" resultMap="AlarmMainGroupResult">
        <include refid="selectAlarmMainGroupVo"/>
        where id = #{id}
    </select>

    <select id="selectAlarmMainGroupByAlarmId" parameterType="String" resultMap="AlarmMainGroupResult">
        <include refid="selectAlarmMainGroupVo"/>
        where alarm_id = #{alarmId}
    </select>
        
    <insert id="insertAlarmMainGroup" parameterType="AlarmMainGroup" useGeneratedKeys="true" keyProperty="id">
        insert into alarm_main_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alarmId != null">alarm_id,</if>
            <if test="groupId != null">group_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alarmId != null">#{alarmId},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAlarmMainGroup" parameterType="AlarmMainGroup">
        update alarm_main_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="alarmId != null">alarm_id = #{alarmId},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlarmMainGroupById" parameterType="Long">
        delete from alarm_main_group where alarm_id = #{alarmId}
    </delete>

    <delete id="deleteAlarmMainGroupByAlarmId" parameterType="String">
        delete from alarm_main_group where alarm_id = #{alarmId}
    </delete>

    <delete id="deleteAlarmMainGroupByIds" parameterType="String">
        delete from alarm_main_group where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>