<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boviet.attendance.mapper.LastMonthReportMapper">
    
    <resultMap type="LastMonthReport" id="LastMonthReportResult">
    	<id     property="jobNum"      column="job_num"      />
        <result property="qijianRange"    column="qijian_range"    />
        <result property="totalWrate100Day"     column="total_wrate100_day"     />
        <result property="totalWrate130Day"   column="total_wrate130_day"   />
        <result property="totalWrate150"    column="total_wrate150"    />
        <result property="totalWrate215"      column="total_wrate215"      />
        <result property="totalWrate200"    column="total_wrate200"    />
        <result property="totalWrate280"      column="total_wrate280"      />
        <result property="totalWrate300"    column="total_wrate300"    />
        <result property="totalWrate410"    column="total_wrate410"    />
        <result property="totalKgCs"    column="total_kg_cs"    />
        <result property="totalChidaoCs"    column="total_chidao_cs"    />
        <result property="totalWdkCs"    column="total_wdk_cs"    />
        <result property="totalNianjiaDay"    column="total_nianjia_day"    />
        <result property="totalTiaoxiuDay"    column="total_tiaoxiu_day"    />
        <result property="totalBingshijiaDay"    column="total_bingshijia_day"    />
        <result property="totalJihuaChuqin"    column="total_jihua_chuqin"    />
        <result property="totalJjiariDay"    column="total_jjiari_day"    />
        <result property="totalShijiDay"    column="total_shiji_day"    />
        <result property="totalAttendanceDay"    column="total_attendance_day"    />
        <result property="totalTanqinDay"    column="total_tanqin_day"    />
        <result property="totalDaysInVietnam"    column="total_days_in_vietnam"    />
        <result property="totalPaidDays"    column="total_paid_days"    />
        <result property="totalJingqiDay"    column="total_jingqi_day"    />
        <result property="totalChangxiuDay"    column="total_changxiu_day"    />
        <result property="totalHunjiaDay"    column="total_hunjia_day"    />
        <result property="totalSangjiaDay"    column="total_sangjia_day"    />
        <result property="totalBurujiaDay"    column="total_burujia_day"    />
        <result property="totalChanjiaDay"    column="total_chanjia_day"    />
        <result property="totalPeichanjiaDay"    column="total_peichanjia_day"    />
        <result property="totalGongshangjiaDay"    column="total_gongshangjia_day"    />
        <result property="emplId"    column="empl_id"    />
        <result property="name"    column="name"    />
        <result property="nationality"    column="nationality"    />
        <result property="emplStatusCn"    column="empl_status_cn"    />
        <result property="company"    column="company"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>
    
    <select id="selectLastMonthReport" parameterType="LastMonthReport" resultMap="LastMonthReportResult">
        select * from fa_last_month_report
        <where>
			<if test="qijianRange != null and qijianRange != ''">
				AND qijian_range = #{qijianRange}
			</if>
			<if test="jobNum != null and jobNum != ''">
				AND job_num = #{jobNum}
			</if>
		</where>
    </select>
    
</mapper>